.ttp__text{
  display: inline-block;
  padding:2.5%;
  position: relative;
  color:#fff;
  white-space: normal;

  h3, p{
    margin:0 auto;
    font-size:1rem;
  }

  h3{
    color: #78BE20;
    font-size:1.5rem;
  }

}

@media screen and (min-width: 568px){
  .ttp__text{
    h3, p{
      max-width:90%;
      font-size:1.2rem;
    }
  }
}