body{
	color:#fff;
	font-family: Futura,"Trebuchet MS", Arial, sans-serif;
	a:link, a:visited, a:hover, a:active{ color: #fff; }
}

.abs-center--vertical{
  top:50%;
  transform: translateY(-50%);
}
.ttp__loading{
	background-color: #0a233a;
	color: #fff;
	height:100vh;

	.lds-mntw {
	  display: inline-block;
	  position: relative;
	  width: 80px;
	  height: 80px;
	}
	.lds-mntw div {
	  display: inline-block;
	  position: absolute;
	  left: 8px;
	  width: 16px;
	  background: #78BE20;
	  animation: lds-mntw 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
	}
	.lds-mntw div:nth-child(1) {
	  left: 8px;
	  animation-delay: -0.24s;
	}
	.lds-mntw div:nth-child(2) {
	  left: 32px;
	  animation-delay: -0.12s;
	}
	.lds-mntw div:nth-child(3) {
	  left: 56px;
	  animation-delay: 0;
	}
	@keyframes lds-mntw {
	  0% {
	    top: 8px;
	    height: 64px;
	  }
	  50%, 100% {
	    top: 24px;
	    height: 32px;
	  }
	}

}

.ttp__container{
  background-color: #0C2340;
  margin:0 auto;
  overflow: hidden;
  &.menuIndex{

  	&--0{
  		.ttp__body__slide{
  			transform: translateX(0);
  		}
  	}

  	&--1{
  		.ttp__body__slide{
  			transform: translateX(-100%);

  			.ttp__playlist{
	  			height: 0;
	  		}
  		}
  	}

  }
}

.ttp__body{
	position: relative;

	.ttp__info::before{
  	background: url('https://www.nba.com/resources/static/team/v2/timberwolves/projects/2019-20/mntw-renewals-2021/2021-mntw-benefits-packperks.jpg');
	  background-size:cover;
	  background-position: center;
	  content:'';
	  position:absolute;
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  opacity: .4;
	  z-index: -1;
	}

	&__slide{
		white-space: nowrap;
		transform: translateX(0);
		transition: transform .5s;

		> div{
			vertical-align: top;
		}

		// &--0{
		// 	transform: translateX(0);
		// }

		// &--1{
		// 	transform: translateX(-100%);
		// }
	}
}

@media screen and (min-width:768px) and (orientation: landscape){
	.ttp__container{
		height:100vh;
		overflow: hidden;
		.ttp__toyota{display:none;}
		.ttp__viewport--responsive, .ttp__menu, .ttp__body__slide > div,{
			transition: opacity .5s, transform .5s;
		}

		&.menuIndex{
	  	&--0{
	  		.ttp__body__slide{
	  			> div:nth-child(1){
						opacity:1;
						transform: translateY(0);
					}

					> div:nth-child(2){
						opacity:0;
						transform: translateY(0vh);
					}
	  		}
	  	}

	  	&--1{
	  		.ttp__viewport--responsive, .video_detail__block{ transform:translateY(-40vh); }
	  		.ttp__menu{ transform:translate(-50%, 0vh); }
	  		.ttp__body__slide{
	  			transform: translateX(0);
					> div:nth-child(1){
						opacity:0;
						transform: translateY(100%);
					}

					.ttp__playlist{
		  			height: auto;
		  		}
	  		}
	  	}

	  }
	}

	.ttp__player--playing.menuIndex--1 .ttp__viewport--responsive{ transform:translateY(0); }
	.ttp__player--paused.menuIndex--1{
		.ttp__body__slide{
			> div:nth-child(2){
				opacity:1;
	      transform: translateY(-40vh);
		    height: 40vh;
			}
		}
	}

	.ttp__body{
		.ttp__info{
			position:fixed;
			width:100%;
			margin: 0 auto;
			&:before{
				background-position:center 85%;
			}

			h3, p{
			  font-size:1rem;
			  max-width: 600px;
		  }

		  h3{
		  	font-size:2rem;
		  }
		}

	}
}